<h1>Sign Up</h1>
<!-- you need to have a user.new for form_for @user or the inputs in the form will not be saved -->
<%= form_for @user do |f| %> 
<% if @user.errors.any? %> 
<div>
  <%= pluralize(@user.errors.count, "errors") %> prevented the account from being created:
  <ul>
    <% @user.errors.full_messages.each do |msg| %> 
    <li><%= msg %></li>
    <%end%> 
  </ul>
  <div>
    <%end%> 
    <div> 
      <%= f.label :email %><br> 
      <%= f.text_field :email %> 
    </div>
    <div>
      <%= f.label :firstname, "First Name"%><br>
      <%= f.text_field :firstname %> 
    </div>
    <div>
      <%= f.label :lastname, "Last Name"%><br>
      <%= f.text_field :lastname %> 
    </div>
    <div>
      <%= f.label :password %><br>
      <%= f.password_field :password %> 
    </div>
    <div>
      <%= f.label :password_confirmation %><br>
      <%= f.password_field  :password_confirmation %><br>
    </div>
    <div><%= f.submit "Submit" %></div>
     <!-- post method to create with the params/ check bin/rake routes often to understand the http methods -->
    <%end%>


