<h1> User's Details </h1>

<p> Name: <%= @user.firstname%> 
<p> Email: <%= @user.email%> 

<% @user.reviews.each do |review| %>
  <h4><%= review.movie.title %> | <%= review.rating_out_of_ten %>/10</h4>
  <p><%= review.text %></p>
<% end %>

<%= link_to "Back to all movies", movies_path %> 