<h1>Admin Page </h1>
<hr>
<%= paginate @users %>

<% @users.each do |user| %>
<div>
  <h3>Full name: <%= user.firstname%>, <%= user.lastname %></h3>
  <h4>Email: <%= user.email %> | Password: <%=p user.password_digest %></h4>
  <hr>
</div><br>
<% end %>